[receive]
	requireChangeId = true
[access "refs/*"]
	read = group TYPO3v4/Extensions/media
	create = group TYPO3v4/Extensions/media
	push = group TYPO3v4/Extensions/media
[access "refs/for/refs/*"]
	push = group TYPO3v4/Extensions/media
	pushMerge = group TYPO3v4/Extensions/media
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group TYPO3v4/Extensions/media
	label-Verified = -1..+2 group TYPO3v4/Extensions/media
	submit = group TYPO3v4/Extensions/media
[access "refs/tags/*"]
	pushTag = group TYPO3v4/Extensions/media
