<em:be.container pageTitle="Media" enableJumpToUrl="false" enableClickMenu="false" loadPrototype="false"
                 loadScriptaculous="false" loadExtJs="false" loadExtJsTheme="true"
                 addCssFiles="{
		0:'{f:uri.resource(path:\'StyleSheet/bootstrap.css\')}',
		1:'{f:uri.resource(path:\'StyleSheet/bootstrap-responsive.css\')}',
		2:'{f:uri.resource(path:\'StyleSheet/media.css\')}',
		3:'{f:uri.resource(path:\'StyleSheet/bootstrap-datatables.css\')}',
		4:'{f:uri.resource(path:\'StyleSheet/FileUploader/fineuploader.css\')}',
		5:'{f:uri.resource(path:\'StyleSheet/JQueryUi/jquery-ui-1.10.1.custom.min.css\')}'
	}"
                 addJsFiles="{
		0:'{f:uri.resource(path:\'JavaScript/JQuery/jquery-1.9.1.min.js\')}'
		}">


	<script type="text/javascript">

		// Declare namespace
		window.Media = {};

		// "Live" variables
		Media._labels = {
			"max_upload_size": '<media:maxUploadSize label="max_upload_file"/>'
		};

		Media._columns = [];
		{media:grid.columnHeader()}

		// Just initialize variable with empty value.
		Media.icons = {}
	</script>

	<f:render section="main"/>

	<media:js name="JQuery/jquery.dataTables.min.js"/>
	<media:js name="JQuery/jquery.form.js"/>
	<media:js name="JQuery/jquery.dataTables.bootstrap.js"/>

	<media:js name="Bootstrap/bootstrap.min.js"/>
	<media:js name="Bootstrap/bootbox.min.js"/>

	<media:js name="FileUploader/header.js"/>
	<media:js name="FileUploader/util.js"/>
	<media:js name="FileUploader/button.js"/>
	<media:js name="FileUploader/handler.base.js"/>
	<media:js name="FileUploader/handler.form.js"/>
	<media:js name="FileUploader/handler.xhr.js"/>
	<media:js name="FileUploader/uploader.basic.js"/>
	<media:js name="FileUploader/dnd.js"/>
	<media:js name="FileUploader/uploader.js"/>
	<media:js name="FileUploader/jquery-plugin.js"/>

	<media:js name="Uri/Uri.min.js"/>

	<media:js name="Media.js"/>
	<media:js name="Encoder.js"/>
	<media:js name="Media.Panel.js"/>
	<media:js name="Media.Table.js"/>
	<media:js name="Media.Action.js"/>
	<media:js name="Media.Session.js"/>
	<media:js name="Media.FlashMessage.js"/>
	<media:js name="Media.Label.js"/>

	<f:if condition="{media:isRtePlugin(plugin: 'linkMaker')}">
		<media:js name="Media.Rte.LinkMaker.js"/>
	</f:if>

	<f:if condition="{media:isRtePlugin(plugin: 'imageMaker')}">
		<media:js name="JQuery/jquery-ui-1.10.1.custom.min.js"/>
		<media:js name="CamanJs-4.1.0/caman.full.min.js"/>
		<media:js name="CamanJs-4.1.0/adapters/jquery.js"/>
		<media:js name="Media.Rte.imageMaker.js"/>
	</f:if>

</em:be.container>
{namespace em=TYPO3\CMS\Extensionmanager\ViewHelpers}
{namespace media=TYPO3\CMS\Media\ViewHelpers}
